<mat-toolbar color="primary">
  <span>{{ 'APP_TITLE' | translate }}</span>
  <span class="container-spacer"></span>
  <button
    mat-icon-button
    [attr.aria-label]="'LOAD_PL_TRANSLATION' | translate"
    (click)="load(language.pl)"
  >{{ language.pl | uppercase }}</button>
  <button
    mat-icon-button
    [attr.aria-label]="'LOAD_EN_TRANSLATION' | translate"
    (click)="load(language.en)"
  >{{ language.en | uppercase }}</button>
</mat-toolbar>
