.address-bar--container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding: 0 1rem;
  margin: 1rem 0;

  .address-bar--field {
    width: 75%;
  }
  .address-bar--button {
    width: 20%;
    .address-bar--button-content {
      display: flex;
      justify-content: center;
      align-items: center;
      mat-icon {
        margin-right: 0.5rem;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .address-bar--field {
      width: 68%;
    }
    .address-bar--button {
      width: 30%;
    }
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}
