<form class="address-bar--container" [formGroup]="form" (submit)="submit()">
  <mat-form-field class="address-bar--field" appearance="outline">
    <mat-label>{{ 'ADDRESS_BAR' | translate }}</mat-label>
    <input
      type="text"
      matInput
      formControlName="address"
      [placeholder]="'ADDRESS_BAR' | translate"
    >
    <mat-error *ngIf="form.get('address')?.hasError('required')">
      {{ 'FIELD_REQUIRED' | translate }}
    </mat-error>
  </mat-form-field>
  <button
    type="submit"
    mat-raised-button class="address-bar--button"
    [disabled]="isLoading"
  >
    <ng-container *ngIf="isLoading"><mat-icon class="spinning-icon">loop</mat-icon>{{ 'PLEASE_WAIT' | translate }}</ng-container>
    <ng-container *ngIf="!isLoading">{{ 'DOWNLOAD' | translate }}</ng-container>
  </button>
</form>
