/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background: #303030;
  color: #ffffff;
}
html * {
  box-sizing: border-box;
}
body {

  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

.container-spacer {
  flex: 1 1 auto;
}

.spinning-icon {
  animation: spin 1000ms linear infinite;
}

.m-0 {
  margin: 0!important;
}
